<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>  
        <!-- changes from the defaults  -->  
        <setting name="cacheEnabled" value="false" />  
        <setting name="useGeneratedKeys" value="true" />  
        <setting name="defaultExecutorType" value="REUSE" />  
    </settings>  
   
   <!--  
   <plugins>  
       <plugin interceptor="com.tuniu.aladdin.common.interceptor.MybatisInterceptor">  
           <property name="time" value="10"/>  
           <property name="package" value="com.tuniu.aladdin"/>  
       </plugin>  
    </plugins>
  -->
</configuration>
